<div class="data-table-heading d-flex align-items-center justify-content-between py-3">
  @if (headingText) {
    <h5 class="fw-bold mb-0">
      {{ headingText }} {{ data.length ? "(" + data.length + ")" : "" }}
    </h5>
  }
  @if (buttonText) {
    <button
      type="button"
      class="btn btn-outline-primary"
      [disabled]="disableAddNew"
      (click)="onAddNewData()"
    >
      <i class="fa-solid fa-plus me-1"></i>
      {{ buttonText }}
    </button>
  }
</div>

<div class="data-table-container">
  <table class="table table-hover mb-0">
    <thead>
      <ng-template [ngTemplateOutlet]="headerTemplate() || null"></ng-template>
    </thead>
    <tbody>
      @if (data.length) {
        @for (row of data; track $index) {
          <ng-template
            [ngTemplateOutlet]="rowTemplate() || null"
            [ngTemplateOutletContext]="{ row }"
          ></ng-template>
        }
      } @else {
        <tr>
          <td class="text-center text-muted" [attr.colspan]="50">
            {{ emptyMessage }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
